# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Football.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\Desktop\KidsGames\Football\.idea\.idea.Football\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
